Repository opencomputeproject/HWMgmt-OCP-Profiles, pull requests merged in 2024-03, with the labels that each got.

#51 Added proposal for power shelf management
  RackAndPower/OCPPowerShelfManagement.v1_0_0.json
  RackAndPower/PowerShelf-Figure-FunctionalModel.jpg
  RackAndPower/PowerShelf-Figure-PhysicalModel.jpg
  RackAndPower/PowerShelfManagementDiagrams.pptx
  RackAndPower/PowerShelfManagementSpec.md
Labels: profile-rackandpower

#65 Extend OCPBaselineHardwareManagement.v1_1_0.json
  HWMgmt/OCPBaselineHardwareManagement.v1_1_0.json
Labels: profile-baseline

#50 Baseline v1.1
  HWMgmt/DSPOCP_1.1.0.html
  HWMgmt/DSPOCP_1.1.0.pdf
  HWMgmt/OCPBaselineHardwareManagement.v1_1_0.json
  HWMgmt/UsageGuide-Baseline1.0.md
  HWMgmt/UsageGuide-Baseline1.1.md
  RackManager/OCPRackManagerController.v1_1_0.json
Labels: profile-baseline, Ready for Review
