Repository opencomputeproject/HWMgmt-OCP-Profiles, pull requests merged in 2025-03, with the labels that each got.

#103 Update Sustainability and RackPDU profiles
  RackAndPower/OCPRackPDU.md
  RackAndPower/RackPDUProfileIntro.md
  Sustainability/OCP-Sustainability-Profile.md
  Sustainability/SustainabilityProfileIntro.md
Labels: profile-rackandpower, profile-sustainability

#98 Removed `PrefixLength` from static IPv6 usage
  HWMgmt/OCPBaselineRedfishService.v1_0_0.json
Labels: profile-rf-baseline

#108 Openrmc1 1 user guide in Markdown
  RackManager/OCPRackManagerController.v1_1_0.json
  RackManager/OpenRMC_UsageGuide_v1.1.md
  RackManager/OpenRMC_UsageGuide_v1.1_draft6.1.docx
Labels: profile-rackmgr
